@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

/* Setup Body */
body {
	font-family: 'Oswald';
	font-weight: 400;
	margin: 10rem;
	padding: 0;
}

/* Header Banner */
header .banner {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border: 1px solid #000000;
	background: #61787F;
}

header .banner img {
	width: auto;
}

header .banner h1 {
	margin: 0 auto;
    margin-left: 2rem;
	padding: 10px 0;
	text-align: left;
	font-weight: 300;
	color: #FFFFFF;
}

.section-title {
    text-align: left;
	margin-top: 2rem;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
}

/* Header BestMovie */
header {
	background-color: #FFFFFF;
	text-align: left;
	padding: 10px 0;
}


header .bestMovieInfo {
	display: grid;
    grid-template-columns: 1fr 2fr;
	align-items: center;
	gap: 20px;
	border: 2px solid #000000;
}

header .bestMovieInfo img {
    max-width: 100%;
    height: auto;
    grid-column: 1 / 2;
    margin:0 ; /* Apply margin to image */
	padding: 0;
}

header .bestMovieInfo .bestMovie {
	display: grid;
	grid-template-rows: auto auto auto;
	align-items: center;
	max-width: 600px;
}

header .bestMovieInfo h2 {
	margin-bottom: 10px;
	text-align: left;
}

.bestMovieInfo {
	padding: 40px;
	margin-top: 1rem;
}

.header-column-2 p {
    margin: 10px 0;
	text-align: left;
}

/* Buttons */
.details-btn,
.see-more-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    width: auto; 
}

header .bestMovieInfo .bestMovie .details-btn,
header .bestMovieInfo .bestMovie .see-more-btn {
    grid-row: 3;
    justify-self: right;
    width: fit-content;
}

/* Categories */
.categories {
	text-align: center;
	margin-top: 50px;
}

.categories h1 {
	margin-bottom: 30px;
    text-align: left;
}

/* Movies */
.movies {
	display: grid;
	justify-content: center;
	grid-template-columns: auto auto auto;
	gap: 20px;
}

.movies .movie img {
	width: 182px;
	height: 268px;
}

.movies .movie p {
	width: 182px;
}

/* Modal */

.modal-container {
	visibility: hidden;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.overlay {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.modal {
    width: 70%;
    margin: auto;
    height: 80%;
    border: solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
	opacity: 1;
	position: absolute;
	transform: translate(0%, 10%);
	background: white;
	overflow-y: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-container.active {
	visibility: visible;
	opacity: 1;
}

.modal-container.active .overlay {
	opacity: 1;
}

.modal-container.active .modal {
	opacity: 1;
}

.close-modal-button {
    width: 13%;
    margin: auto;
    background-color: red;
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

.modal-tablet-cover-image, .close-modal-tablet-button {
    display: none;       
}

.modal-header-info p {
    margin: 5px 0px;
}

.movies .movie img:hover {
	transform: scale(1.1);
}

.dropdown {
	height: 60px;
	list-style: none;
	padding: 10px;
	margin: 40px;
}

.dropdown li {
	float: left;
	width: 200px;
}

.dropdown li a:link,
.dropdown li a:visited {
	display: block;
	color: #000000;
	background: white;
	padding: 6px 10px;
	text-align: center;
	text-decoration: none;
	border: 2px solid #000000;
}

.dropdown li a:hover {
	background-color: #199BD2;
}

.dropdown li a:active {
	background-color: #808080;
}

.dropdown .submenu {
	list-style-type: none;
	display: none;
	padding: 0;
	margin: 0;
	position: absolute;
}

.dropdown .submenu li {
	float: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid transparent;
}

.dropdown .submenu li a:link,
.dropdown li a:visited {
	display: block;
	color: black;
	text-decoration: none;
	background-color: white;
	border: 2px solid #000000;
}

.dropdown .submenu li a:hover {
	background-color: #199BD2;
}

.dropdown li:hover .submenu {
	display: block;
}

/* Responsive Design */

@media screen and (min-width: 768px) {
	.see-more-btn {
		display: none
	}
}

@media screen and (max-width: 768px) {
	nav {
		flex-direction: column;
		align-items: center;
	}

	nav h1 {
		display: none;
	}

	.movies .movie:nth-child(n+5) {
		display: none;
	}

	.movies.active .movie:nth-child(n+5) {
		display: block;
	}

	.movies {
		grid-template-columns: auto auto;

	}
}

@media screen and (max-width: 480px) {
	.movie:nth-child(n+3) {
		display: none;
	}

	.movies.active .movie:nth-child(n+3) {
		display: block;
	}

	.movies {
		grid-template-columns: auto;
	}
}

@media screen and (max-width: 900px) {
	.modal-container {
        display: flex;
        flex-direction: column;
    }

    .modal-header {
        display: flex;
        flex-direction: column;
    }

    .modal-cover-image, .close-modal-button {
        display: none;
    }

    .modal-tablet-cover-image {
        display: inline;
        margin: auto;
    }

    .close-modal-tablet-button {
        all: unset;
        display: block;
        position: absolute;
        right: 16%;
        top: 3%;
    }
    .close-modal-tablet-button svg path {
        stroke: red;
    }
}
